.card {
  margin: 50px;
}

.card-border {
  border: 2px solid rgb(67, 67, 201);
}

.ride-table {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.ride-buttons {
  margin: 5px;
}

.ride-offer-btn {
  margin-bottom: 10px;
}

.ride-info-table {
  align-items: center;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #e2e2e2;
}

th,
td {
  padding: 10px;
}

.selected {
  background-color: #0fbbff;
}
