p {
  text-align: center;
  color: red;
}

.card {
  margin: 20px;
}

.card-border {
  border: 2px solid rgb(67, 67, 201);
}

.card-body {
  text-align: center;
}

.ride-table {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ride-info-table {
  align-items: center;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #e2e2e2;
}

th,
td {
  padding: 10px;
}
