<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="login.component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar" style="background-color: #e2e2e2;">
        <div class="container-fluid">
            <a class="navbar-brand custom-text-color" href="#">PoolCarz</a>
            <a class="navbar-brand custom-text-color" href="#">Logout</a>
        </div>
    </nav>

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="login-container">
            <div class="top-color">Login</div>
            <div class="content">
                <div class="form">
                    <label for="username">Username</label>
                    <input [(ngModel)]="username" type="text" id="username">
                </div>
                <div class="form">
                    <label for="password">Password</label>
                    <input [(ngModel)]="password" type="password" id="password">
                </div>
                <div class="form">
                    <button (click)="onLogin()" class="login">Login</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>