<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="login.component.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="centered-container">
      <div class="card w-25 mx-auto">
        <div class="card-header bg-primary text-white fw-bold">Login</div>
        <div class="card-body">
          <!-- Form -->
          <form (ngSubmit)="login()">
            <div class="form-group row mb-3">
              <label for="username" class="col-sm-3 col-form-label text-nowrap fw-bold">User Name</label>
              <div class="col-sm-9">

                <input type="text" name="username" id="username" class="form-control" #uName="ngModel" [(ngModel)]="username" required minlength="3" />
                @if(uName.touched && uName.errors?.['required']){
                  <span class="text-danger">{{touchResponse}}</span>
                } @else if((uName.touched || uName.dirty) &&uName.errors?.['minlength']){
                  <span class="text-danger">Mininum 3 characters required</span>
                }
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-sm-3 col-form-label text-nowrap fw-bold">Password</label>
              <div class="col-sm-9">

                <input type="password" name="password" id="password" class="form-control" #uPass="ngModel" [(ngModel)]="password" required/>
                @if((uPass.touched || uPass.dirty) && uPass.errors?.['required']){
                  <span class="text-danger">{{touchResponse}}</span>
                }
              </div>
            </div>
            <p class="text-danger">{{errorMessage}}</p>
            <div class="text-center">
              <button class="btn btn-primary">Login</button>
          </div>
          <p class="text-center">Don't have an account? <a (click)="goToSignUp()" class="link-offset-2 sign-up-link link-underline link-underline-opacity-0">Sign Up</a></p>
        </form>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
